* text=auto !eol
droolsBookParent/README.txt -text
droolsBookParent/bankingcore/pom.xml -text
droolsBookParent/bankingcore/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/Account.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/Address.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/BankingFactory.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/Customer.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/DefaultBankingFactory.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/Event.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/Loan.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/model/LoanApprovalHolder.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/BankingInquiryService.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/BankingService.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/BankingValidationService.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/CEPService.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/LoanApprovalService.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/Message.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/ValidationException.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/ValidationReport.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/bank/service/impl/BankingInquiryServiceImpl.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/utils/DroolsHelper.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/utils/MyDebugAgendaEventListener.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/utils/MyDebugProcessEventListener.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/utils/MyDebugWorkingMemoryEventListener.java -text
droolsBookParent/bankingcore/src/main/java/droolsbook/utils/RuleNameEqualsAgendaFilter.java -text
droolsBookParent/cep/pom.xml -text
droolsBookParent/cep/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/cep/src/main/java/droolsbook/accumulator/BigDecimalAverageAccumulateFunction.java -text
droolsBookParent/cep/src/main/java/droolsbook/bank/model/Transaction.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/Account.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/AccountUpdatedEvent.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/LostCardEvent.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/SuspiciousAccount.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/SuspiciousTransaction.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/TransactionCompletedEvent.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/TransactionCreatedEvent.java -text
droolsBookParent/cep/src/main/java/droolsbook/cep/bank/model/TransactionEvent.java -text
droolsBookParent/cep/src/main/java/droolsbook/evaluator/InstanceEqualsEvaluatorDefinition.java -text
droolsBookParent/cep/src/main/java/droolsbook/evaluator/test/CustomersHolder.java -text
droolsBookParent/cep/src/main/resources/cep.drl -text
droolsBookParent/cep/src/main/resources/custom_operator.drl -text
droolsBookParent/cep/src/test/java/droolsbook/cep/CepTest.java -text
droolsBookParent/cep/src/test/java/droolsbook/cep/TrackingAgendaEventListener.java -text
droolsBookParent/cep/src/test/java/droolsbook/evaluator/test/InstanceEqualsEvaluatorDefinitionTest.java -text
droolsBookParent/decision_tables/pom.xml -text
droolsBookParent/decision_tables/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/decision_tables/src/main/java/droolsbook/decisiontables/bank/model/Account.java -text
droolsBookParent/decision_tables/src/main/resources/deleteme-interest[!!-~]calculation.drl -text
droolsBookParent/decision_tables/src/main/resources/interest[!!-~]calculation.csv -text
droolsBookParent/decision_tables/src/main/resources/interest[!!-~]calculation.xls -text
droolsBookParent/decision_tables/src/main/resources/validation.xls -text
droolsBookParent/decision_tables/src/test/java/droolsbook/bank/service/impl/DecisionTablesValidationTest.java -text
droolsBookParent/decision_tables/src/test/java/droolsbook/decisiontables/bank/InterestRateDecisionTableTest.java -text
droolsBookParent/droolsFlow/pom.xml -text
droolsBookParent/droolsFlow/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/droolsFlow/src/main/java/droolsbook/bank/service/impl/DefaulLoanApprovalService.java -text
droolsBookParent/droolsFlow/src/main/java/droolsbook/droolsflow/model/DefaultMessage.java -text
droolsBookParent/droolsFlow/src/main/java/droolsbook/droolsflow/model/Rating.java -text
droolsBookParent/droolsFlow/src/main/java/droolsbook/droolsflow/workitem/TransferWorkItemHandler.java -text
droolsBookParent/droolsFlow/src/main/resources/META-INF/BankingWorkDefinitions.conf -text
droolsBookParent/droolsFlow/src/main/resources/META-INF/drools.rulebase.conf -text
droolsBookParent/droolsFlow/src/main/resources/icons/transfer.gif -text
droolsBookParent/droolsFlow/src/main/resources/loanApproval.drl -text
droolsBookParent/droolsFlow/src/main/resources/loanApproval.rf -text
droolsBookParent/droolsFlow/src/main/resources/ratingCalculation.drl -text
droolsBookParent/droolsFlow/src/main/resources/ratingCalculation.rf -text
droolsBookParent/droolsFlow/src/test/java/droolsbook/bank/service/impl/DefaultLoanApprovalServiceTest.java -text
droolsBookParent/droolsFlow/src/test/java/droolsbook/bank/service/impl/TrackingProcessEventListener.java -text
droolsBookParent/droolsFlow/src/test/java/org/drools/task/MockUserInfo.java -text
droolsBookParent/dsl/pom.xml -text
droolsBookParent/dsl/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/dsl/src/main/resources/etl-iBatis.dsl -text
droolsBookParent/dsl/src/main/resources/etl-iBatis.dslr -text
droolsBookParent/dsl/src/main/resources/first_approach/validation.dsl -text
droolsBookParent/dsl/src/main/resources/first_approach/validation.dslr -text
droolsBookParent/dsl/src/main/resources/simple.dsl -text
droolsBookParent/dsl/src/main/resources/simple.dslr -text
droolsBookParent/dsl/src/main/resources/validation.dsl -text
droolsBookParent/dsl/src/main/resources/validation.dslr -text
droolsBookParent/dsl/src/test/java/droolsbook/bank/service/impl/DslValidationTest.java -text
droolsBookParent/dsl/src/test/java/droolsbook/dsl/simple/SimpleDSLTest.java -text
droolsBookParent/dsl/src/test/java/droolsbook/etl/DslMockRulesTest.java -text
droolsBookParent/etl_iBatis/pom.xml -text
droolsBookParent/etl_iBatis/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/etl_iBatis/src/main/java/droolsbook/transform/Main.java -text
droolsBookParent/etl_iBatis/src/main/java/droolsbook/transform/service/DataTransformationService.java -text
droolsBookParent/etl_iBatis/src/main/java/droolsbook/transform/service/LegacyBankService.java -text
droolsBookParent/etl_iBatis/src/main/java/droolsbook/transform/service/impl/DataTransformationServiceImpl.java -text
droolsBookParent/etl_iBatis/src/main/java/droolsbook/transform/service/impl/IBatisLegacyBankService.java -text
droolsBookParent/etl_iBatis/src/main/resources/Banking.xml -text
droolsBookParent/etl_iBatis/src/main/resources/SqlMapConfig.xml -text
droolsBookParent/etl_iBatis/src/main/resources/etl-iBatis.drl -text
droolsBookParent/etl_iBatis/src/test/java/droolsbook/etl/DataTransformationTest.java -text
droolsBookParent/etl_iBatis/src/test/java/droolsbook/etl/FindMockRulesTest.java -text
droolsBookParent/etl_iBatis/src/test/java/droolsbook/etl/MockLegacyBankService.java -text
droolsBookParent/etl_iBatis/src/test/java/droolsbook/etl/service/impl/ETLBankServiceImplTest.java -text
droolsBookParent/integration/build.xml -text
droolsBookParent/integration/client/interest_request.rb -text
droolsBookParent/integration/client/interest_request_complex.rb -text
droolsBookParent/integration/client/ruby_json.rb -text
droolsBookParent/integration/client/test.txt -text
droolsBookParent/integration/pom.xml -text
droolsBookParent/integration/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/integration/src/main/java/droolsbook/integration/agent/Main.java -text
droolsBookParent/integration/src/main/java/droolsbook/integration/spring/KnowledgeBaseFactoryBean.java -text
droolsBookParent/integration/src/main/java/droolsbook/integration/spring/SpringMain.java -text
droolsBookParent/integration/src/main/java/droolsbook/integration/xstream/Main.java -text
droolsBookParent/integration/src/main/resources/applicationContext.xml -text
droolsBookParent/integration/src/main/resources/validation.drl -text
droolsBookParent/integration/src/test/java/droolsbook/integration/spring/KnowledgeBaseFactoryBeanTest.java -text
droolsBookParent/integration/src/test/resources/applicationContext_kbf_1.xml -text
droolsBookParent/integration/src/test/resources/test.rf -text
droolsBookParent/license.txt -text
droolsBookParent/licenses/Antlr.txt -text
droolsBookParent/licenses/Apache2.txt -text
droolsBookParent/licenses/epl-v10.txt -text
droolsBookParent/performance/pom.xml -text
droolsBookParent/performance/src/main/resources/alpha.drl -text
droolsBookParent/performance/src/main/resources/alpha_indexing.drl -text
droolsBookParent/performance/src/main/resources/beta.drl -text
droolsBookParent/performance/src/main/resources/beta_indexing.drl -text
droolsBookParent/performance/src/main/resources/entry_point.drl -text
droolsBookParent/performance/src/main/resources/from.drl -text
droolsBookParent/performance/src/main/resources/initialFact.drl -text
droolsBookParent/performance/src/main/resources/not.drl -text
droolsBookParent/pom.xml -text
droolsBookParent/ruleflow/pom.xml -text
droolsBookParent/ruleflow/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/ruleflow/src/main/resources/dataTransformation-ruleflow.drl -text
droolsBookParent/ruleflow/src/main/resources/dataTransformation.rf -text
droolsBookParent/ruleflow/src/test/java/droolsbook/etl/ETLRuleFlowTest.java -text
droolsBookParent/ruleflow/src/test/java/droolsbook/etl/MockLegacyBankService.java -text
droolsBookParent/sampleApplication/notes.txt -text
droolsBookParent/sampleApplication/pom.xml -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/bank/model/CustomerCreatedEvent.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/bank/model/CustomerUpdatedEvent.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/bank/model/User.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/bank/service/impl/BankingServiceImpl.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/bank/service/impl/CEPServiceImpl.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/bank/service/impl/LoanApprovalServiceImpl.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/org/drools/persistence/JPAKnowledgeSessionLookup.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/org/drools/persistence/KnowledgeSessionLookup.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/drools/persistence/JPAWSHumanTaskHandler.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/repository/CustomerRepository.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/repository/jpa/JPACustomerRepository.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/server/HumanTaskServer.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/server/MinaTaskClientFactory.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/ApproveEventController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/CustomerListController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/CustomerSaveFormController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/ListPendingTasksController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/LoanRequestFormController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/TaskClaimController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/TaskCompleteController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/TaskListController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/TaskStartController.java -text
droolsBookParent/sampleApplication/src/main/java/droolsbook/sampleApplication/web/WebSessionUtils.java -text
droolsBookParent/sampleApplication/src/main/java/org/drools/task/MockUserInfo.java -text
droolsBookParent/sampleApplication/src/main/resources/META-INF/MANIFEST.MF -text
droolsBookParent/sampleApplication/src/main/resources/META-INF/orm.xml -text
droolsBookParent/sampleApplication/src/main/resources/META-INF/persistence.xml -text
droolsBookParent/sampleApplication/src/main/resources/applicationContext.xml -text
droolsBookParent/sampleApplication/src/main/resources/log4j.xml -text
droolsBookParent/sampleApplication/src/main/resources/messages.properties -text
droolsBookParent/sampleApplication/src/main/webapp/META-INF/MANIFEST.MF -text
droolsBookParent/sampleApplication/src/main/webapp/META-INF/context.xml -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/jsp/customerList.jsp -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/jsp/customerSave.jsp -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/jsp/include.jsp -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/jsp/loanRequest.jsp -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/jsp/taskList.jsp -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/sampleApplication-servlet.xml -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/tld/spring-form.tld -text
droolsBookParent/sampleApplication/src/main/webapp/WEB-INF/web.xml -text
droolsBookParent/sampleApplication/src/main/webapp/index.jsp -text
droolsBookParent/sampleApplication/src/test/java/droolsbook/sampleApplication/service/impl/BankingServiceImplTest.java -text
droolsBookParent/sampleApplication/tomcatConfigFiles/conf/btm-config.properties -text
droolsBookParent/sampleApplication/tomcatConfigFiles/conf/context.xml -text
droolsBookParent/sampleApplication/tomcatConfigFiles/conf/server.xml -text
droolsBookParent/src/assemble/src.xml -text
droolsBookParent/stateful/pom.xml -text
droolsBookParent/stateful/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/stateful/src/main/java/droolsbook/stateful/StatefulService.java -text
droolsBookParent/stateful/src/main/java/droolsbook/stateful/bank/service/impl/StatefulDefaultValidationReport.java -text
droolsBookParent/stateful/src/main/java/droolsbook/stateful/impl/StatefulServiceImpl.java -text
droolsBookParent/stateful/src/main/java/droolsbook/stateful/utils/ValidationHelper.java -text
droolsBookParent/stateful/src/main/resources/fraudulent-transactions.drl -text
droolsBookParent/stateful/src/main/resources/validation-stateful-nologicassert.drl -text
droolsBookParent/stateful/src/main/resources/validation-stateful.drl -text
droolsBookParent/stateful/src/test/java/droolsbook/bank/service/impl/StatefulValidationTest.java -text
droolsBookParent/stateful/src/test/java/droolsbook/stateful/StatefulServiceIntegrationTest.java -text
droolsBookParent/testing/pom.xml -text
droolsBookParent/testing/repository_export.zip -text
droolsBookParent/testing/src/main/java/droolsbook/testing/MainDumper.java -text
droolsBookParent/validation/pom.xml -text
droolsBookParent/validation/src/main/java/META-INF/MANIFEST.MF -text
droolsBookParent/validation/src/main/java/droolsbook/bank/service/ReportFactory.java -text
droolsBookParent/validation/src/main/java/droolsbook/bank/service/ValidationHelper.java -text
droolsBookParent/validation/src/main/java/droolsbook/bank/service/impl/BankingValidationServiceImpl.java -text
droolsBookParent/validation/src/main/java/droolsbook/bank/service/impl/DefaultMessage.java -text
droolsBookParent/validation/src/main/java/droolsbook/bank/service/impl/DefaultReportFactory.java -text
droolsBookParent/validation/src/main/java/droolsbook/bank/service/impl/DefaultValidationReport.java -text
droolsBookParent/validation/src/main/resources/validation.drl -text
droolsBookParent/validation/src/test/java/droolsbook/bank/service/impl/ValidationTest.java -text
